@import "./../../style-common.scss";

.footer-distributed {
  box-shadow: 2px 2px 5px #00000029;
  box-sizing: border-box;
  padding: 55px 50px 30px 50px;
}

.footer-left,
.footer-center,
.footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-left {
  width: 32%;
}

.company-logo {
  width: 80%;
  height: 80%;
  position: relative;
  top: -40px;
  left: -20px;
  margin-bottom: -40px;
}

/* Footer links */

.footer-links {
  // color: #ffffff;
  color: $green-color;
  font-size: $smx-text-size;
  font-weight: bold;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-company-name {
  color: #949494;
  font-size: $sm-text-size;
  font-weight: normal;
  margin: 20px 0 12px;
  padding: 0;
}

/* Footer Center */

.footer-center {
  width: 40%;
}

.footer-center .mat-icon {
  color: $blue-color;
}

.footer-center span {
  padding-left: 20px;
  font-size: $sm-text-size;
}

/* Footer Right */

.footer-right {
  width: 27%;
}

@media (max-width: 599px) {
  .footer-distributed {
    font-size: $sm-text-size;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-center {
    text-align: start !important;
  }

  .footer-center i {
    margin-left: 0;
  }

  .company-logo {
    width: 100% !important;
    height: 100% !important;
  }

  .company-tagline {
    left: unset;
  }
}
