<footer class="footer-distributed">
  <div class="footer-left">
    <a [routerLink]="['home']">
      <img
        appLazyLoad
        src="/assets/img/n_b_mercantile_logo.png"
        alt="NB Mercantile Co. Pvt. Ltd."
        class="company-logo"
        style="padding: 0px 10px"
      />
      <img
        appLazyLoad
        src="/assets/img/n_b_mercantile_tagline.png"
        alt="NB Mercantile Co. Pvt. Ltd."
        class="company-tagline"
      />
    </a>
    <p class="footer-links">
      <a [routerLink]="['about-us']">About</a>
      ·
      <a [routerLink]="['contact-us']">Enquiry</a>
      ·
      <a [routerLink]="['our-services']">Services</a>
      ·
      <a [routerLink]="['contact-us']">Contact</a>
    </p>
    <p class="footer-company-name" style="font-size: 12px">
      <a>#1 INDUSTRIAL SOLUTION PROVIDER FOR BUSINESSES.</a>
    </p>
    <p class="footer-company-name">
      NB Mercantile Co. Pvt Ltd &copy; {{ regYear | date: "yyyy" }}
    </p>
  </div>

  <div class="footer-center">
    <div fxLayout="row">
      <div>
        <i class="fa fa-map-marker-alt"></i>
      </div>
      <div>
        <span>
          89-1A, Road No. 12, Ricco Industrial Area,<br />Madri, Udaipur,
          Rajasthan,<br />
          313002, India.<br
        /></span>
      </div>
    </div>
    <br />
    <div>
      <i class="fa fa-phone"></i>
      <span>+91 98290 35159</span>
    </div>
    <br />
    <div>
      <i class="fa fa-envelope"></i>
      <span
        ><a
          href="mailto:anurag_shell@rediffmail.com"
          style="text-decoration: none; color: #8f9296"
          >anurag_shell@rediffmail.com</a
        ></span
      >
    </div>
  </div>

  <div class="footer-right">
    <br />
    <iframe
      appLazyLoad
      [src]="mapiframe"
      width="100%"
      height="250px"
      frameborder="0"
      style="
        border: 0;
        border-radius: 2px;
        box-shadow: 0 30px 37px rgba(0, 0, 0, 0.15);
        width: 100%;
        height: 250px;
      "
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>
</footer>
