.signin-div {
  background: url("/assets/img/tkl_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

@media only screen and (max-width: 959px) {
  .signin-div {
    background: none;
  }
}
