.full-width {
  width: 100%;
}

.login-progress {
  margin-bottom: 2em;
  border-radius: 3px;
  background: #d6e9ff;
  font-size: 14px;
  padding: 10px;
}

.eql-margin {
  margin-top: 1em;
  margin-bottom: 1em;
}

.register-link {
  text-decoration: none;
  color: inherit;
}

.forgot-password-modal {
  width: 15%;
}

@media only screen and (max-width: 768px) {
  .sign-in-btn {
    display: flex;
    width: 100%;
    place-content: center;
    min-width: 100% !important;
  }

  .register-link {
    margin-top: 16px;
    display: flex;
    place-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .register-link {
    margin-top: 16px;
    display: flex;
    place-content: center;
    width: 100%;
  }
}

.login-container {
  padding: 1em;
  background: url("/assets/img/tkl_background.png");
  background-repeat: repeat;
  .logo {
    width: 100%;
    text-align: center;
    img {
      max-width: 20%;
    }
  }
  .auth-form {
    max-width: 40%;
    width: 30%;
    .outlet {
      padding: 1em;
    }
  }
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .login-container {
    .logo {
      img {
        max-width: 25%;
      }
    }
    .auth-form {
      max-width: 50%;
      width: 40%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .login-container {
    .logo {
      img {
        max-width: 30%;
      }
    }
    .auth-form {
      max-width: 60%;
      width: 50%;
    }
  }
}

@media only screen and (max-width: 425px) {
  .login-container {
    .logo {
      img {
        max-width: 40%;
      }
    }
    .auth-form {
      max-width: 90%;
      width: 85%;
    }
  }
}

@media only screen and (max-width: 320px) {
  .login-container {
    .logo {
      img {
        max-width: 50%;
      }
    }
    .auth-form {
      max-width: 95%;
      width: 90%;
    }
  }
}
