<div class="main-page-style" fxFlexFill>
  <div class="inner-section-style">
    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="center center"
      fxLayoutGap="16px grid"
      fxLayoutGap.lt-sm="0px grid"
      fxFlexFill
    >
      <div
        fxFlex="25%"
        fxFlex.lt-sm="100%"
        style="text-align: left"
        class="paragraph-color"
      >
        <h3 *ngIf="crudOperation === 'ViewAll'">Patient Master</h3>
        <h3 *ngIf="crudOperation === 'Create'">Add Patient</h3>
        <h3 *ngIf="crudOperation === 'View'">
          Patient Details - {{ patient.lockerId }}
        </h3>
        <h3 *ngIf="crudOperation === 'Edit'">
          Edit Patient Details - {{ patient.lockerId }}
        </h3>
      </div>
      <div fxFlex="75%" fxFlex.lt-sm="100%" style="text-align: right">
        <button
          mat-raised-button
          *ngIf="
            crudOperation === 'Create' ||
            crudOperation === 'Edit' ||
            crudOperation === 'View'
          "
          (click)="crudOperationChange('SetCrudOperation', 'ViewAll')"
        >
          Back
        </button>

        <button
          mat-raised-button
          color="primary"
          *ngIf="crudOperation === 'ViewAll'"
          (click)="crudOperationChange('Create')"
        >
          Add Patient
        </button>
        <button
          mat-raised-button
          (click)="downloadPatients()"
          style="margin-left: 16px"
        >
          Download Patient List
        </button>
      </div>
    </div>
  </div>

  <!-- Starts: Patient List Cards Section -->
  <div class="inner-section-style" *ngIf="crudOperation === 'ViewAll'">
    <div
      fxLayout="row wrap"
      fxLayoutGap="16px grid"
      fxFlexFill
      *ngIf="patients && patients.length"
    >
      <div
        class="patient-card"
        fxFlex="25%"
        fxLayoutAlign="stretch"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
        *ngFor="let patient of patients"
      >
        <mat-card class="mat-elevation-z4" fxFlex fxFlex.xs="100">
          <mat-card-header>
            <!-- <img
            src="/assets/img/ewac_maintenance_and_repair_services_img.jpg"
            mat-card-avatar
          /> -->
            <!-- <mat-icon mat-card-avatar>home</mat-icon> -->
            <svg
              mat-card-avatar
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xml:space="preserve"
              style="
                shape-rendering: geometricPrecision;
                text-rendering: geometricPrecision;
                image-rendering: optimizeQuality;
                fill-rule: evenodd;
                clip-rule: evenodd;
              "
              viewBox="0 0 42 42"
            >
              <g id="UrTavla">
                <circle
                  style="
                    fill: url(#toning);
                    stroke: #010101;
                    stroke-width: 2;
                    stroke-miterlimit: 10;
                  "
                  cx="20"
                  cy="20"
                  r="20"
                ></circle>

                <text
                  x="50%"
                  y="50%"
                  stroke="#000"
                  text-anchor="middle"
                  stroke-width="1"
                  dx="1"
                  dy="6"
                  font-size="15"
                >
                  {{ patient.name.substring(0, 1) }}
                </text>
              </g>
            </svg>
            <mat-card-title
              [matTooltip]="patient.name + ' - ' + patient.lockerId"
            >
              {{ patient.name }}
              <mat-card-subtitle
                >({{ patient.lockerId }})
              </mat-card-subtitle></mat-card-title
            >
          </mat-card-header>
          <!-- <img
          mat-card-image
          src="/assets/img/ewac_maintenance_and_repair_services_img.jpg"
        /> -->
          <mat-card-content>
            <div
              style="
                background-color: #87ceeb;
                padding: 30px 10px;
                color: black;
              "
            >
              <h2 style="text-align: center">Apr 2021 - Mar 2022</h2>
              <p style="text-align: center">Verified</p>
            </div>

            <p>The Himalayas is a mountain range in Asia.</p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-button
              color="primary"
              (click)="crudOperationChange('View', patient)"
            >
              VIEW
            </button>
            <button
              mat-button
              color="primary"
              (click)="crudOperationChange('Edit', patient)"
            >
              EDIT
            </button>
            <div fxFlex></div>
            <button mat-icon-button style="color: #87ceeb; font-size: 20px">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontSet="material-icons-outlined"
                >account_circle</mat-icon
              >
            </button>
            <button mat-icon-button style="color: #87ceeb; font-size: 20px">
              <span class="material-icons-outlined"> settings </span>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <mat-card
      *ngIf="!patients || !patients.length"
      fxFlex="100%"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-card-subtitle>No Records Found</mat-card-subtitle>
      <mat-card-actions>
        <button mat-raised-button (click)="crudOperationChange('Create')">
          <span class="plus-icon-inside-btn">+</span> Add New Patient
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- Ends: Patient List Cards Section -->

  <!-- Starts: Create|Edit Patient Section -->
  <div
    class="inner-section-padding-shadow-style"
    style="padding: 30px"
    *ngIf="crudOperation === 'Create' || crudOperation === 'Edit'"
    fxLayout="column"
  >
    <ng-container *ngTemplateOutlet="pfTmpl"></ng-container>
  </div>
  <!-- Ends: Create|Edit Patient Section -->

  <!-- Starts: View Patient Detaials -->
  <div
    class="inner-section-padding-shadow-style"
    style="padding: 12px 0px"
    *ngIf="crudOperation === 'View'"
  >
    <table class="table view-table">
      <tbody>
        <tr>
          <td>Patient Name</td>
          <td colspan="2">Date of Birth</td>
        </tr>
        <tr>
          <th>
            {{ patient.name }}
          </th>
          <th colspan="2">
            {{ patient.dateOfBirth | date: "short" }}
          </th>
        </tr>
        <tr>
          <td>Gender</td>
          <td>Marital Status</td>
          <td>Religion</td>
        </tr>
        <tr>
          <th>
            {{ patient.gender }}
          </th>
          <th>
            {{ patient.maritalStatus }}
          </th>
          <th>
            {{ patient.religion }}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Ends: View Patient Detaials -->

  <div
    class="inner-section-padding-shadow-style"
    *ngIf="false && crudOperation === 'View'"
  >
    <div fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="start start">
      <div
        fxLayout="row wrap"
        fxLayoutGap="8px grid"
        fxFlexFill
        fxLayoutAlign="start center"
      >
        <div fxFlex="10">Patient Name</div>
        <div fxFlex="20">Mehul Govindbhai Tilala</div>
        <div fxFlex="10">Date of Birth</div>
        <div fxFlex="20">11 Oct 1993</div>
      </div>
      <div
        fxLayout="row wrap"
        fxLayoutGap="8px grid"
        fxFlexFill
        fxLayoutAlign="start center"
      >
        <div fxFlex="10">Gender</div>
        <div fxFlex="20">Male</div>
        <div fxFlex="10">Marital Status</div>
        <div fxFlex="20">Married</div>
        <div fxFlex="10">Religion</div>
        <div fxFlex="20">Hindu</div>
      </div>
    </div>
  </div>

  <div class="inner-section-style" *ngIf="false && crudOperation === 'View'">
    <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start start">
      <div
        fxFlex="50"
        fxLayout="column"
        fxLayoutGap="1em"
        fxLayoutAlign="start start"
        style="
          border-right: 2px solid #6bc8e8;
          border-radius: 9px;
          border-left: 2px solid #6bc8e8;
          padding: 8px;
        "
      >
        <div fxFlex>1</div>
        <div fxFlex>2</div>
      </div>
      <div
        fxFlex="50"
        fxLayout="column"
        fxLayoutGap="1em"
        fxLayoutAlign="start start"
        style="
          border-right: 2px solid #6bc8e8;
          border-radius: 9px;
          border-left: 2px solid #6bc8e8;
          padding: 8px;
        "
      >
        <div fxFlex>11</div>
        <div fxFlex>22</div>
      </div>
    </div>
  </div>
</div>

<!-- Starts: Patient Form Template -->
<ng-template #pfTmpl>
  <div
    fxFlex
    fxLayout="column"
    fxLayoutWrap
    fxLayoutGap="1em"
    fxLayoutAlign="start start"
  >
    <form
      [formGroup]="patientForm"
      #form="ngForm"
      fxFlex
      fxLayout="column"
      fxLayoutAlign="space-around start"
      fxFlexAlign="start"
      fxLayoutGap="2em"
    >
      <section fxLayout="column" fxLayoutWrap fxLayoutGap="1em">
        <div
          class="row"
          fxLayout
          fxLayoutGap="2em"
          fxLayout.xs="column wrap"
          fxLayoutGap.xs=".5em"
        >
          <mat-form-field fxFlex="0 1 calc(33% - 16px)" fxFlex.xs="1 0 100">
            <mat-label>Your Relationship With Patient</mat-label>
            <mat-select formControlName="creatorsRelationship">
              <mat-option
                *ngFor="let relationship of creatorRelationshipList"
                [value]="relationship"
              >
                {{ relationship }}
              </mat-option>
            </mat-select>
            <mat-hint
              >e.g. Self/Son/Father/Mother/Brother etc. (of Patient)</mat-hint
            >
            <mat-error
              *ngIf="
                patientForm.get('creatorsRelationship')?.hasError('required')
              "
            >
              Your relationship with patient is
              <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
        </div>
        <div
          class="row"
          fxLayout
          fxLayoutGap="2em"
          fxLayout.xs="column wrap"
          fxLayoutGap.xs=".5em"
        >
          <mat-form-field fxFlex>
            <mat-label>Patient Name</mat-label>
            <input
              matInput
              placeholder="Name of the patient"
              formControlName="name"
            />
            <mat-error *ngIf="patientForm.get('name')?.hasError('required')">
              Patient Name is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Date of Birth</mat-label>
            <input
              matInput
              placeholder="Date of Birth (DD/MM/YYYY)"
              formControlName="dateOfBirth"
              [matDatepicker]="dobPicker"
              [max]="maxDOB"
              [readonly]="true"
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="dobPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #dobPicker
              startView="multi-year"
              [disabled]="false"
            ></mat-datepicker>
            <mat-error
              *ngIf="patientForm.get('dateOfBirth')?.hasError('required')"
            >
              Date of Birth is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
        </div>
        <div
          class="row"
          fxLayout
          fxLayoutGap="2em"
          fxLayout.xs="column wrap"
          fxLayoutGap.xs=".5em"
        >
          <mat-form-field fxFlex>
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option
                *ngFor="let genderValue of genderList"
                [value]="genderValue"
              >
                {{ genderValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="patientForm.get('gender')?.hasError('required')">
              Gender is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Marital Status</mat-label>
            <mat-select formControlName="maritalStatus">
              <mat-option
                *ngFor="let maritalStatusValue of maritalStatusList"
                [value]="maritalStatusValue"
              >
                {{ maritalStatusValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="patientForm.get('maritalStatus')?.hasError('required')"
            >
              Marital Status is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Religion</mat-label>
            <mat-select formControlName="religion">
              <mat-option
                *ngFor="let religionValue of religionList"
                [value]="religionValue"
              >
                {{ religionValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="patientForm.get('religion')?.hasError('required')"
            >
              Religion is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
        </div>
        <div
          class="row"
          fxLayout
          fxLayoutGap="2em"
          fxLayout.xs="column wrap"
          fxLayoutGap.xs=".5em"
        >
          <mat-form-field fxFlex="0 1 calc(33.33% - 16px)">
            <mat-label>Adhar Number</mat-label>
            <input
              matInput
              placeholder="Adhar Card Number (For Indian Patients)"
              formControlName="adharNo"
            />
            <mat-error *ngIf="patientForm.get('adharNo')?.hasError('required')">
              Adhar Number is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
        </div>
        <div
          class="row"
          fxFlex
          fxLayout
          fxLayoutGap="2em"
          fxLayout.xs="column wrap"
          fxLayoutGap.xs=".5em"
        >
          <div fxFlex="0 1 calc(33% - 16px)" fxFlex.xs="1 0 100">
            <mat-label>Medical Insured?</mat-label>
            <br />
            <mat-radio-group
              aria-label="Select an option"
              formControlName="medicalInsuranceFlag"
            >
              <mat-radio-button [value]="true"> Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div fxFlex="0 1 calc(66% - 16px)" fxFlex.xs="1 0 100">
            <form
              formGroupName="medicalInsurance"
              fxLayout="row"
              fxLayoutGap="2em"
              fxLayout.xs="column wrap"
              fxLayoutGap.xs=".5em"
              *ngIf="patientForm.get('medicalInsuranceFlag')?.value"
            >
              <mat-form-field fxFlex>
                <mat-label>Insurance Company Name</mat-label>
                <input
                  matInput
                  placeholder="Insurance Company Name"
                  formControlName="company"
                />
                <mat-error
                  *ngIf="
                    patientForm
                      .get('medicalInsurance')
                      ?.get('company')
                      ?.hasError('required')
                  "
                >
                  Insurance Company name is
                  <span class="err-highlight">required</span>.
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex>
                <mat-label>Insurance Number</mat-label>
                <input
                  matInput
                  placeholder="Insurance Number"
                  formControlName="number"
                />
                <mat-error
                  *ngIf="
                    patientForm
                      .get('medicalInsurance')
                      ?.get('number')
                      ?.hasError('required')
                  "
                >
                  Insurance Number is
                  <span class="err-highlight">required</span>.
                </mat-error>
              </mat-form-field>
            </form>
          </div>
        </div>
        <div
          class="row"
          fxLayout
          fxLayoutGap="2em"
          fxLayout.xs="column wrap"
          fxLayoutGap.xs=".5em"
        >
          <mat-form-field fxFlex>
            <mat-label>Father's Name</mat-label>
            <input
              matInput
              placeholder="Father's Name"
              formControlName="fatherName"
            />
            <mat-error
              *ngIf="patientForm.get('fatherName')?.hasError('required')"
            >
              Father's Name is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Mother's Name</mat-label>
            <input
              matInput
              placeholder="Mother's Name"
              formControlName="motherName"
            />
            <mat-error
              *ngIf="patientForm.get('motherName')?.hasError('required')"
            >
              Mother's Name is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Spouce's Name</mat-label>
            <input
              matInput
              placeholder="Spouce's Name"
              formControlName="spouceName"
            />
            <mat-error
              *ngIf="patientForm.get('spouceName')?.hasError('required')"
            >
              Spouce's Name is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
        </div>
        <div
          class="row"
          fxLayout
          fxLayoutGap="2em"
          fxLayout.xs="column wrap"
          fxLayoutGap.xs=".5em"
        >
          <mat-form-field fxFlex>
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="Phone Number"
              formControlName="phone"
            />
            <mat-error *ngIf="patientForm.get('phone')?.hasError('required')">
              Phone Number is <span class="err-highlight">required</span>.
            </mat-error>
            <mat-error *ngIf="patientForm.get('phone')?.hasError('pattern')">
              Phone Number is <span class="err-highlight">invalid</span>.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Email Id</mat-label>
            <input matInput placeholder="Email Id" formControlName="email" />
            <mat-error *ngIf="patientForm.get('email')?.hasError('required')">
              Email Id is <span class="err-highlight">required</span>.
            </mat-error>
            <mat-error *ngIf="patientForm.get('email')?.hasError('pattern')">
              Email Id is <span class="err-highlight">invalid</span>.
            </mat-error>
          </mat-form-field>
        </div>
        <form
          formGroupName="addressObj"
          class="row"
          fxLayout="row wrap"
          fxLayoutGap="2em"
          fxLayout.xs="column wrap"
          fxLayoutGap.xs=".5em"
        >
          <mat-form-field fxFlex>
            <mat-label>Address</mat-label>
            <input
              matInput
              placeholder="Address (House No, Street etc.)"
              formControlName="address"
            />
            <mat-error
              *ngIf="
                patientForm
                  .get('addressObj')
                  ?.get('address')
                  ?.hasError('required')
              "
            >
              Address is
              <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city" />
            <mat-error
              *ngIf="
                patientForm.get('addressObj')?.get('city')?.hasError('required')
              "
            >
              City is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>State</mat-label>
            <input matInput placeholder="State" formControlName="state" />
            <mat-error
              *ngIf="
                patientForm
                  .get('addressObj')
                  ?.get('state')
                  ?.hasError('required')
              "
            >
              State is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>Pin/Zip Code</mat-label>
            <input matInput placeholder="Pin/Zip Code" formControlName="pin" />
            <mat-error
              *ngIf="
                patientForm.get('addressObj')?.get('pin')?.hasError('required')
              "
            >
              Pin/Zip Code is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option
                *ngFor="let countryValue of countryList"
                [value]="countryValue"
              >
                {{ countryValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                patientForm
                  .get('addressObj')
                  ?.get('country')
                  ?.hasError('required')
              "
            >
              Country is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Address Type</mat-label>
            <mat-select formControlName="addressType">
              <mat-option
                *ngFor="let addressTypeValue of addressTypeList"
                [value]="addressTypeValue"
              >
                {{ addressTypeValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                patientForm
                  .get('addressObj')
                  ?.get('addressType')
                  ?.hasError('required')
              "
            >
              Address Type is <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
        </form>
        <form
          formGroupName="emergencyContact"
          class="row"
          fxLayout="row wrap"
          fxLayoutGap="2em"
          fxLayout.xs="column wrap"
          fxLayoutGap.xs=".5em"
        >
          <mat-form-field fxFlex>
            <mat-label>Emergency Contact Person Name</mat-label>
            <input
              matInput
              placeholder="Emergency Contact Person Name"
              formControlName="fullName"
            />
            <mat-error
              *ngIf="
                patientForm
                  .get('emergencyContact')
                  ?.get('fullName')
                  ?.hasError('required')
              "
            >
              Full Name is
              <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>Relationship With Patient</mat-label>
            <input
              matInput
              placeholder="Relationship With Patient"
              formControlName="relationship"
            />
            <mat-hint
              >e.g. Son/Father/Mother/Brother etc. (of Patient)</mat-hint
            >
            <mat-error
              *ngIf="
                patientForm
                  .get('emergencyContact')
                  ?.get('relationship')
                  ?.hasError('required')
              "
            >
              Relationship With Patient is
              <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="Phone Number"
              formControlName="phone"
            />
            <mat-error
              *ngIf="
                patientForm
                  .get('emergencyContact')
                  ?.get('phone')
                  ?.hasError('required')
              "
            >
              Phone Number With Patient is
              <span class="err-highlight">required</span>.
            </mat-error>
          </mat-form-field>
        </form>
      </section>
      <div fxFlexAlign="end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="savePatient(true)"
          *ngIf="crudOperation === 'Create'"
        >
          Save Patient
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="updatePatient(true)"
          *ngIf="crudOperation === 'Edit'"
        >
          Update Patient
        </button>
        <button
          mat-button
          color="warn"
          type="button"
          style="margin-left: 12px"
          (click)="crudOperationChange('SetCrudOperation', 'ViewAll')"
        >
          Cancel
        </button>
      </div>
    </form>
    <div *ngIf="progress > 0">
      <mat-progress-bar
        mode="determinate"
        value="{{ progress }}"
      ></mat-progress-bar>
    </div>
  </div>
</ng-template>
<!-- Ends: Patient Form Template -->

<!-- Start: Confirm Box SWAL Template -->
<swal
  #confirmBox
  [titleText]="cnfrmObj.title"
  [title]="cnfrmObj.title"
  [text]="cnfrmObj.text"
  [icon]="cnfrmObj.icon"
  [confirmButtonText]="cnfrmObj.cnfrmButtonText"
  [swalOptions]="{
    showCancelButton: true,
    showCloseButton: true,
    customClass: {
      closeButton: 'swal2-close-btn-custom',
      confirmButton: 'swal2-confirm-btn-custom',
      cancelButton: 'swal2-cancel-btn-custom'
    }
  }"
></swal>
<!-- Ends: Confirm Box SWAL Template -->
