<app-header *ngIf="showHeaderFooter"></app-header>
<router-outlet></router-outlet>
<!-- <button (click)="openService()">Get Service</button> -->

<!--Scroll to top-->
<button
  @goToTopAnimation
  *ngIf="!isHidden"
  id="scrolltoTopBtn"
  title="Go to Top"
  (click)="topFunction()"
>
  <i class="fa fa-arrow-up"></i>
</button>

<button mat-raised-button class="floating-button" (click)="navigateToContact()">
  Contact Us
</button>
<button
  mat-raised-button
  class="floating-button-2"
  (click)="navigateToService()"
>
  Get Service
</button>

<app-footer *ngIf="showHeaderFooter"></app-footer>
