<app-header *ngIf="showHeaderFooter"></app-header>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
<!-- <button (click)="openService()">Get Service</button> -->

<!--Scroll to top-->

<button
  mat-mini-fab
  @goToTopAnimation
  id="scrolltoTopBtn"
  *ngIf="windowScrolled"
  title="Go to Top"
  (click)="scrollToTop()"
>
  <mat-icon fontSet="material-icons-round">arrow_upwards</mat-icon>
</button>

<button
  *ngIf="showHeaderFooter"
  mat-raised-button
  class="floating-button"
  (click)="navigateToContact()"
>
  Contact Us
</button>
<button
  *ngIf="showHeaderFooter"
  mat-raised-button
  class="floating-button-2"
  (click)="navigateToService()"
>
  Get Service
</button>

<app-footer *ngIf="showHeaderFooter"></app-footer>
