// .container {
//   padding: 1em;
//   width: 100%;
//   height: 100%;
//   .logo {
//     img {
//       width: 16em;
//     }
//   }
//   background: url('./../../../assets/img/tkl_background.png');
//   background-repeat: repeat;
//   .auth-form {
//     width: 30%;
//     padding: 2em;
//     min-height: 75%;
//   }
// }

.login-container {
  padding: 1em;
  background: url("/assets/img/tkl_background.png");
  background-repeat: repeat;
  .logo {
    width: 100%;
    text-align: center;
    img {
      max-width: 20%;
    }
  }
  .auth-form {
    max-width: 40%;
    width: 30%;
    .outlet {
      padding: 1em;
    }
  }
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .login-container {
    .logo {
      img {
        max-width: 25%;
      }
    }
    .auth-form {
      max-width: 50%;
      width: 40%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .login-container {
    .logo {
      img {
        max-width: 30%;
      }
    }
    .auth-form {
      max-width: 60%;
      width: 50%;
    }
  }
}

@media only screen and (max-width: 425px) {
  .login-container {
    .logo {
      img {
        max-width: 40%;
      }
    }
    .auth-form {
      max-width: 90%;
      width: 85%;
    }
  }
}

@media only screen and (max-width: 320px) {
  .login-container {
    .logo {
      img {
        max-width: 50%;
      }
    }
    .auth-form {
      max-width: 95%;
      width: 90%;
    }
  }
}
