<div fxFlex fxLayout="row" fxFlexFill fxLayoutAlign="center center">
  <div
    class="hl-container"
    fxFlex="90"
    fxFlex.lt-lg="100"
    fxLayout="column"
    fxLayoutGap="50px"
  >
    <div
      fxLayout="row"
      fxLayout.xs="column wrap"
      fxLayoutGap="40px"
      fxLayoutAlign="center start"
    >
      <div
        fxFlex="30"
        fxLayout="column"
        fxLayoutGap="30px"
        class="contact-details"
      >
        <div>
          <h6 class="hl-sec-heading">Visit our office at</h6>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div>
              <mat-icon>pin_drop</mat-icon>
            </div>
            <div>
              <span>
                89-1A, Road No. 12, Rajshree Society,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mavdi, Rajkot, Gujarat,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;360004, India.<br
              /></span>
            </div>
          </div>
        </div>
        <div>
          <h6 class="hl-sec-heading">Contact us</h6>
          <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div style="height: 24px"><mat-icon>call</mat-icon></div>
              <div><span>+91 87587 48221</span></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div style="height: 24px"><mat-icon>mail</mat-icon></div>
              <div>
                <span
                  ><a
                    href="mailto:mehultilala1993@gmail.com"
                    style="text-decoration: none; color: black"
                    >mehultilala1993@gmail.com</a
                  ></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        fxFlex="50"
        fxLayoutAlign="start start"
        [ngStyle.xs]="{ width: '100%' }"
      >
        <div fxFlex fxLayout="column">
          <h6 class="hl-sec-heading">Write us a message</h6>
          <div fxFlex="100">
            <form
              [formGroup]="ef"
              (ngSubmit)="submitEnquiry()"
              #form="ngForm"
              fxLayout="column"
              fxFlexAlign="start"
              fxLayoutGap="0.5em"
            >
              <div
                class="row"
                fxLayout
                fxLayoutGap="2em"
                fxLayout.xs="column wrap"
                fxLayoutGap.xs=".5em"
              >
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="Your Name"
                    formControlName="name"
                  />
                  <mat-error *ngIf="ef.get('name')?.hasError('minlength')">
                    Name should be of at least 5 character.
                  </mat-error>
                </mat-form-field>
              </div>
              <div
                class="row"
                fxLayout
                fxLayoutGap="1em"
                fxLayout.xs="column wrap"
                fxLayoutGap.xs=".5em"
              >
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="Email"
                    title="Your Email"
                    formControlName="email"
                  />
                  <mat-error *ngIf="ef.get('email')?.hasError('email')">
                    Email is <span class="err-highlight">invalid</span>.
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input
                    type="number"
                    matInput
                    placeholder="Phone Number"
                    title="Your 10 Digit Phone Number"
                    formControlName="phone"
                  />
                  <mat-error *ngIf="ef.get('phone')?.hasError('pattern')">
                    Phone Number is <span class="err-highlight">invalid</span>.
                  </mat-error>
                </mat-form-field>
              </div>
              <mat-form-field fxFlex>
                <textarea
                  matInput
                  placeholder="Message/Enquiry"
                  rows="5"
                  formControlName="content"
                ></textarea>
                <mat-error *ngIf="ef.get('content')?.hasError('required')">
                  Message is <span class="err-highlight">required</span>.
                </mat-error>
                <mat-error *ngIf="ef.get('content')?.hasError('minlength')">
                  Message should be of at least 20 character long.
                </mat-error>
              </mat-form-field>
              <div fxFlex fxFlexAlign="start" fxLayoutGap="1em">
                <button mat-raised-button color="primary" type="submit">
                  SAVE
                </button>
                <button
                  mat-raised-button
                  color="default"
                  type="button"
                  (click)="buildEnquiryForm()"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-review></app-review>
    </div>
  </div>
</div>
