<div
  fxFlex
  fxLayout="row"
  fxFlexFill
  fxLayoutAlign="center center"
  class="background-color"
>
  <div
    class="nb-container"
    fxFlex="90"
    fxFlex.lt-lg="100"
    fxLayout="column"
    fxLayoutGap="50px"
  >
    <div
      fxLayout="row"
      fxLayout.xs="column wrap"
      fxLayoutGap="40px"
      fxLayoutAlign="center start"
    >
      <div fxFlex="30" fxLayout="column" fxLayoutGap="30px">
        <div>
          <h6 class="nb-sec-heading">Visit our branch at</h6>
          <div fxLayout="row">
            <div>
              <i class="fa fa-map-marker-alt"></i>
            </div>
            <div>
              <span>
                89-1A, Road No. 12, Ricco Industrial Area,<br />Madri, Udaipur,
                Rajasthan,<br />
                313002, India.<br
              /></span>
            </div>
          </div>
          <div fxLayout="row" style="margin-top: 16px">
            <div>
              <i class="fa fa-map-marker-alt"></i>
            </div>
            <div>
              <span>
                Kota &nbsp;&nbsp;&nbsp;
                <span style="opacity: 0.2">|&nbsp;&nbsp;&nbsp;</span>Bhilwara
                &nbsp;&nbsp;&nbsp;&nbsp;<span style="opacity: 0.2"
                  >|&nbsp;&nbsp;&nbsp;</span
                >
                Bhiwadi<br
              /></span>
              <span>
                Jaipur&nbsp;&nbsp;<span style="opacity: 0.2"
                  >|&nbsp;&nbsp;&nbsp;</span
                >Jodhpur</span
              >
            </div>
          </div>
        </div>
        <div>
          <h6 class="nb-sec-heading">Contact us</h6>
          <div fxLayout="column">
            <div>
              <i class="fa fa-phone"></i>
              <span>+91 98290 35159</span>
            </div>
            <div>
              <i class="fa fa-envelope"></i>
              <span
                ><a
                  href="mailto:anurag_shell@rediffmail.com"
                  style="text-decoration: none; color: black"
                  >anurag_shell@rediffmail.com</a
                ></span
              >
            </div>
          </div>
        </div>
      </div>

      <div
        fxFlex="50"
        fxLayoutAlign="start start"
        [ngStyle.xs]="{ width: '100%' }"
      >
        <div fxFlex fxLayout="column">
          <h6 class="nb-sec-heading">Write us a message</h6>
          <div fxFlex="100">
            <form
              [formGroup]="ef"
              (ngSubmit)="submitEnquiry()"
              #form="ngForm"
              fxLayout="column"
              fxFlexAlign="start"
              fxLayoutGap="0.5em"
            >
              <div
                class="row"
                fxLayout
                fxLayoutGap="2em"
                fxLayout.xs="column wrap"
                fxLayoutGap.xs=".5em"
              >
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="Your Name"
                    formControlName="name"
                  />
                  <mat-error *ngIf="ef.get('name')?.hasError('minlength')">
                    Name should be of at least 5 character.
                  </mat-error>
                </mat-form-field>
              </div>
              <div
                class="row"
                fxLayout
                fxLayoutGap="1em"
                fxLayout.xs="column wrap"
                fxLayoutGap.xs=".5em"
              >
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="Email"
                    title="Your Email"
                    formControlName="email"
                  />
                  <mat-error *ngIf="ef.get('email')?.hasError('email')">
                    Email is <span class="err-highlight">invalid</span>.
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input
                    type="number"
                    matInput
                    placeholder="Phone Number"
                    title="Your 10 Digit Phone Number"
                    formControlName="phone"
                  />
                  <mat-error *ngIf="ef.get('phone')?.hasError('pattern')">
                    Phone Number is <span class="err-highlight">invalid</span>.
                  </mat-error>
                </mat-form-field>
              </div>
              <mat-form-field fxFlex>
                <textarea
                  matInput
                  placeholder="Message/Enquiry"
                  rows="5"
                  formControlName="content"
                ></textarea>
                <mat-error *ngIf="ef.get('content')?.hasError('required')">
                  Message is <span class="err-highlight">required</span>.
                </mat-error>
                <mat-error *ngIf="ef.get('content')?.hasError('minlength')">
                  Message should be of at least 20 character long.
                </mat-error>
              </mat-form-field>
              <div fxFlex fxFlexAlign="start" fxLayoutGap="1em">
                <button mat-raised-button color="primary" type="submit">
                  SAVE
                </button>
                <button
                  mat-raised-button
                  color="default"
                  type="button"
                  (click)="buildEnquiryForm()"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-review></app-review>
    </div>
  </div>
</div>
