/*desktop*/
$xs-text-size: 12px;
$xsx-text-size: 13px;
$sm-text-size: 14px;
$smx-text-size: 15px;

$md-text-size: 16px;
$mdx-text-size: 18px;
$lg-text-size: 20px;

$xl-text-size: 22px;
$xlx-text-size: 24px;
$xlxx-text-size: 30px;
$xxl-text-size: 32px;

$heading-color: #222; //black
$background-color: #fcfcfc; //grey
$paragraph-color: #8f8f8f; //grey

$blue-color: #46bae2;
$green-color: #93c842;

.primary-color {
  color: $green-color !important;
}

.accent-color {
  color: $blue-color !important;
}

.paragraph-color {
  color: $paragraph-color !important;
}
