<!-- <carousel *ngIf="companies.length === 0"
  [cellWidth]="'100%'" [height]="proportion" [margin]="0"
  [dots]="false" [arrows]="false" [pauseOnHover]="false"
  [loop]="false" [autoplay]="false"
  >
    <div class="carousel-cell" *ngFor="let company of dummyCompanies |crouselFilter;">
      <div class="rc-div" [ngStyle]="{'background-image': 'url('+company.carousel+')'}">
        <div class="data-box">
          <p class="company-header">{{ company.name }}</p>
          <p class="company-about" >{{ company.about | excerptWidth:((proportion === '100%' ) ? 0 : 150) }}</p>
          <button mat-flat-button color="primary" (click)="viewProduct(company.id)">
            View Products
          </button>
        </div>
      </div>
    </div>
</carousel> -->

<!-- <div class="company-carousel"></div>
<carousel *ngIf="companies.length != 0"
  [cellWidth]="'100%'" [height]="proportion" [margin]="0"
  [dots]="true" [arrows]="proportion === '100%'" [pauseOnHover]="false"
  [loop]="true" [autoplay]="true" [autoplayInterval]="3500" [transitionDuration]="1000" [overflowCellsLimit]="2"
  >
    <div class="carousel-cell" *ngFor="let company of companies |crouselFilter;">
      <div class="rc-div" [ngStyle]="{'background-image': 'url('+company.carousel+')'}">
        <div class="data-box">
          <p class="company-header">{{ company.name }}</p>
          <p class="company-about" >{{ company.about | excerptWidth:((proportion === '100%' ) ? 0 : 150) }}</p>
          <button mat-flat-button color="primary" (click)="viewProduct(company.id)">
            View Products
          </button>
        </div>
      </div>
    </div>
</carousel> -->

<app-aboutus [showHomeContent]="true"></app-aboutus>
